<div>
  <div class="modal__overlay"></div>
  <div class="modal__wrapper">
    <div class="modal__main">
      <form class="modal__form">
        <div class="form__group">
          <label class="label ">Штрихкод</label>
          <input [ngClass]="{'warning': test?.errors?.pattern || test?.errors?.minlength}"
                 name="barcode"
                 class="input input-barcode" type="text"
                 placeholder="0000000000"
                 [(ngModel)]="barcode"
                 #test="ngModel"
                 pattern="[0-9]*"
                 required
                 minlength="8"
                 maxlength="8"
                 autocomplete="off">
        </div>
        <div class="input-warning-wrap">
          <div class="input-warning" *ngIf="test?.errors?.pattern">
            Штрихкод должен состоять только из цифр
          </div>
          <div class="input-warning" *ngIf="test?.errors?.minlength">
            Штрихкод состоит из 8 символов
          </div>
        </div>

        <div class="form__group">
          <button [disabled]="test.errors" class="btn btn-shtrih" (click)="searchByBarcode()">Заполнить по штрихкоду</button>
        </div>
        <div class="form__group">
          <button (click)="searchProductModal()" class="btn btn-search">Искать товар</button>
        </div>
        <div class="find-product" *ngIf="productIsFind">
          <div class="form__group">
            <label class="label">Наименование</label>
            <input class="input" type="text" placeholder="Толстовка Crop" readonly>
          </div>
          <div class="form__group">
            <label class="label">Цена</label>
            <input class="input" type="number" placeholder="123">
          </div>
        </div>
        <br><br><br><br><br><br>
        <button class="btn btn-danger" (click)="service.toggle()">Отменить</button>
      </form>

    </div>
  </div>

</div>
