<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="leftblock">
        <button (click)="clickTest()">Добавить товар</button>
        <br>
        <app-listproduct></app-listproduct>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
<app-addproduct [data]="modalAddProductShow"></app-addproduct>
<!--
<app-addproduct *ngIf="modalAddProductShow"></app-addproduct>
 <router-outlet></router-outlet>
 -->

