<div class="body">
  <div class="container">
    <button class="btn" (click)="service.toggle()">Добавить товар</button>


    <!--

    <button class="btn" (click)="addProductService.toggle()">Добавить товар</button>
    <app-listproduct></app-listproduct>
    -->
    <br><br><br><br><br><br>
  </div>
  <!--
  <app-addproduct *ngIf="addProductService.isOpen.getValue()"></app-addproduct>
<app-add-product></app-add-product>
   -->

</div>
<app-add-product *ngIf="service.isOpen.getValue()"></app-add-product>

